# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

MD5チェックツール/Debug/*
MD5チェックツール/Release/*
MD5チェックツール/x64/*
MD5チェックツールIconRes/Debug/*
MD5チェックツールIconRes/Release/*
MD5チェックツールIconRes/x64/*
